// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=50a0u0kjW1T8Y4BeU2Rpa1gvA0F */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary: #0F0806;	// Main Primary color */

$color-secondary: #0F0B06;	// Main Secondary color (1) */

$color-tertiary: #0D0508;	// Main Secondary color (2) */